@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'GothamRounded-Book';
    src: url('../fonts/GothamRounded-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'GothamRounded-BookItalic';
    src: url('../fonts/GothamRounded-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'GothamRounded-MediumItalic';
    src: url('../fonts/GothamRounded-MediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'GothamRounded-Medium';
    src: url('../fonts/GothamRounded-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'GothamRounded-Bold';
    src: url('../fonts/GothamRounded-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Calibri-Bold';
    src: url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Calibri-Italic';
    src: url('../fonts/Calibri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'AvenirNextCondensed-Regular';
    src: url('../fonts/AvenirNextLTPro-Cn.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
} 
@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
    src: url('../fonts/FiraSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('../fonts/Gotham-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Gotham-BoldItalic';
    src: url('../fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'GothamRounded-Light';
    src: url('../fonts/GothamRounded-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'FiraSans-Italic';
    src: url('../fonts/FiraSans-Italic.ttf') format('truetype');
    src: url('../fonts/FiraSans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans-Medium.otf') format('opentype');
    src: url('../fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'NanumSquareRoundOTFEB';
    src: url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
    src: url('../fonts/NanumSquareRoundOTFEB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'NanumSquareRoundOTFB';
    src: url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
    src: url('../fonts/NanumSquareRoundOTFB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'NanumSquareRoundOTFL';
    src: url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
    src: url('../fonts/NanumSquareRoundOTFL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'NanumSquareRoundOTFR';
    src: url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
    src: url('../fonts/NanumSquareRoundOTFR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Firasans-bold';
    src: url('../fonts/FiraSans-Bold.otf') format('opentype');
    src: url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Firasans-heavy';
    src: url('../fonts/FiraSans-Heavy.otf') format('opentype');
    src: url('../fonts/FiraSans-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/FiraSans-Light.otf') format('opentype');
    src: url('../fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}